# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
.venv/

# Ignore test results
data/test_json_results/

# Ignore environment files
.env

# Ignore macOS system files
.DS_Store